.border-radius-5{
    border-radius: 5px !important;
}
.font-bold{
    font-weight: bold !important;
}
.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
 /* image remove btn css */
 .image-preview-wrapper {
     position: relative;
     display: inline-block;
    }

    #removeImageButton {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 10;
        font-size: 16px;
        cursor: pointer;
    }
/* end image remove btn css */
/* start select2search css */
.select2-container .select2-selection--single {
    height: 38px; /* Matches standard Bootstrap input height */
    line-height: 38px;
    border-radius: 5px;
}

.select2-container--bootstrap-5 .select2-selection--single {
    border-color: #ddd;
    padding: 6px 12px;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: #333;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear {
    color: #999;
    font-size: 0.9375rem;
}
/* end select2search css */
